@model Chushka.ViewModels.Users.UserRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">Register</h1>
<hr class="bg-secondary half-width" />
<form method="post" class="mx-auto half-width">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" placeholder="Username..." />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" placeholder="Password..." />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" placeholder="Full Name..." />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" placeholder="Email..." />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="button-holder d-flex justify-content-center">
        <input type="submit" value="Register" class="btn chushka-bg-color" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
