USE [master]
GO

CREATE DATABASE [Gringotts]
GO

USE [Gringotts]
GO

CREATE TABLE [WizzardDeposits](
	[Id] INT PRIMARY KEY,
	[FirstName] VARCHAR(50),
	[LastName] VARCHAR(60),
	[Notes] TEXT,
	[Age] INT,
	[MagicWandCreator] VARCHAR(100),
	[MagicWandSize] SMALLINT,
	[DepositGroup] VARCHAR(20),
	[DepositStartDate] DATE,
	[DepositAmount] DECIMAL(8,2),
	[DepositInterest] DECIMAL(5,2),
	[DepositCharge] DECIMAL (8,2),
	[DepositExpirationDate] DATE,
	[IsDepositExpired] BIT
)

INSERT [dbo].[WizzardDeposits] ([Id], [FirstName], [LastName], [Notes], [Age], [MagicWandCreator], [MagicWandSize], [DepositGroup], [DepositStartDate], [DepositAmount], [DepositInterest], [DepositCharge], [DepositExpirationDate], [IsDepositExpired]) VALUES (1, 'Hannah', 'Abbott', 'Hufflepuff student in Harry''s year and member of Dumbledore''s Army.', 71, 'Antioch Peverell', 19, 'Troll Chest', CAST('1990-09-27' AS Date), CAST(47443.03 AS Decimal(8, 2)), CAST(29.28 AS Decimal(5, 2)), CAST(73.00 AS Decimal(8, 2)), CAST('1991-04-08' AS Date), 0)
GO
INSERT [dbo].[WizzardDeposits] ([Id], [FirstName], [LastName], [Notes], [Age], [MagicWandCreator], [MagicWandSize], [DepositGroup], [DepositStartDate], [DepositAmount], [DepositInterest], [DepositCharge], [DepositExpirationDate], [IsDepositExpired]) VALUES (2, 'Bathsheda', 'Babbling', 'Ancient Runes teacher at Hogwarts', 63, 'Ollivander family', 20, 'Human Pride', CAST('1986-03-27' AS Date), CAST(46597.40 AS Decimal(8, 2)), CAST(26.64 AS Decimal(5, 2)), CAST(64.00 AS Decimal(8, 2)), CAST('1986-05-16' AS Date), 1)
GO

-- database Incomes

CREATE DATABASE Incomes

USE Incomes

 CREATE TABLE DailyIncome(
 VendorId NVARCHAR(10), 
 IncomeDay NVARCHAR(10), 
 IncomeAmount INT
 )

INSERT INTO DailyIncome VALUES ('SPIKE', 'FRI', 100)
INSERT INTO DailyIncome VALUES ('SPIKE', 'MON', 300)
INSERT INTO DailyIncome VALUES ('FREDS', 'SUN', 400)

SELECt * FROM DailyIncome

SELECT * FROM DailyIncome
PIVOT (
	AVG (IncomeAmount) FOR IncomeDay 
		IN ([MON],[TUE],[WED],[THU],[FRI],[SAT],[SUN])
	  ) 
	 AS AvgIncomePerDay