@{
    this.ViewData["Title"] = "Home";
}

<div class="jumbotron mt-3 eventures-bg-color">
    <h2>Eventures - The best ticket service in the world.</h2>
    <hr class="hr-2 bg-dark" />
    <h4><a asp-controller="Users" asp-action="Register" class="nav-link-blue">Register</a> if you don't.</h4>
    <h4><a asp-controller="Users" asp-action="Login" class="nav-link-blue">Login</a> if you have an account.</h4>
</div>
