@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron mt-3 eventures-bg-color text-center">
    @if (this.User.IsInRole("Admin"))
    {
        <h2>Greetings, Administrator - @User.Identity.Name!</h2>
        <hr class="hr-2 bg-secondary" />
        <h4 class="text-center text-secondary">Enjoy your work.</h4>

    }
    else
    {
        <h2>Welcome, @User.Identity.Name!</h2>
        <hr class="hr-2 bg-secondary" />
        <h4 class="text-center text-secondary">Eventures wishes you an exciting experience.</h4>
    }
</div>
